.card {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.logo img {
  width: 20%;
  position: absolute;
  top: 8px;
  left: 16px;
}

.kunstner {
  font-size: 2rem;
  width: 500px;
  background-color: #ffe3c0;
  padding-left: 1rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  color: #c15327;
  position: relative;
  padding-right: 40px;
}

.kunstner::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #b94c2a;

  transition: transform 0.3s ease;
}

.months {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-self: center;
  align-items: center;
}
body {
  background-color: #e34c39;
}

@font-face {
  font-family: "Protogrotesk";
  src: url("/font/protogrotesk-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

details {
  position: relative;
  display: block;
}

summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.intro {
  background-color: #ffe3c0;
}
