nav {
  padding: 20px;
}

.introtekst {
  position: absolute;
  padding-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 36px;
}
.musikken {
  text-align: center;
  line-height: 1.6;
}
.forklaring {
  width: 900px;
  margin: 0 auto;
  line-height: 1.3;
}

.datoer {
  position: relative;
  top: 20px;
}
* {
  max-width: 1512px;
}

.logos {
  position: absolute;
  top: 20px; /* afstand fra toppen */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px; /* afstand mellem logoer */
  align-items: center;
}

.logos img {
  height: 60px; /* justér størrelse */
  width: auto;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
