---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Program from "../components/Program.astro";
import Galleri from "../components/Galleri.astro";
import "../styles/global.css";
import './src/styles/layout.css';

import MainLayout from "../layouts/MainLayout.astro"
---


<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jaro&display=swap">
		<title>Astro</title>
	</head>







<Header>

</Header>


<MainLayout>
	 <slot />

 
	 
	 <Program>

	</MainLayout>
</Program>
<slot />
<Galleri>
	<slot />
</Galleri>


	
<Footer></Footer>
