---
import "../styles/global.css";
import Cards from "../components/Cards.astro"
import MainLayout from "../layouts/MainLayout.astro"
---
	<body>
        <main>
            
			<h2>Program</h2>

            <div class="months">
                <h4>Januar</h4>
                <h3>Februar</h3>
                <h4>Marts</h4>
            </div>

            <Cards title="VICTORIA SØNDERGAARD
                SECRETS" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
            
            <Cards title="KANAAN (no) + EDENA GARDENS" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
        
             <Cards title="JAZZ CLUB LOCO: ECHO, BRAVO" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />

        </main>
		<slot />
	</body>
    
</Cards>
</MainLayout>
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Program from "../components/Program.astro";
import Galleri from "../components/Galleri.astro";
import './src/styles/global.css';
import './src/styles/layout.css';
---
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>







<Header>

</Header>


<MainLayout>
	 <slot />

	 <Program>
</MainLayout>
</Program>
<slot />
<Galleri>
	<slot />
</Galleri>


	
<Footer></Footer>
