---
const { title, img, shape } = Astro.props;
---

<h3>Februar 14</h3>

<details class="preview">
    <summary>
<article class="card">
    <img src={img} alt="replace">
    <h3 class="kunstner">{title}</h3>
</summary>
</article>
<div class="intro">
  
    <p>test</p>
     <img src={img} alt="ekstra billede">
</div>


</details>















<style>
       img { height: 150px;}
  img{ width: 400px;}
</style>