---
const { title, img, shape } = Astro.props;
---

<details class="preview">
    <summary>
<article class="card">
    <img src={img} alt="replace">
    <h3 class="kunstner">{title}</h3>
</summary>
</article>
<div class="intro">
  
   
     <img src={img} alt="ekstra billede">
<h1>Victoria Søndergaard Secrets</h1>
<h2>Den prisvindende vibrafonist mixer jazz, rap og fantasi</h2>
<h3>Hvilken slags jazz spiller de?</h3>
<p>- Vibrafonisten Viktoria Søndergaard har samlet et absolut drømmeband "SECRETS", som spiller legende og grænseløs musik, hvor jazz, rap og fantasi med en klar skandinavisk tone mødes i sanselige eksplosioner. Improvisation møder poesi på en fin og organisk måde.</p>

    </div>


</details>

<style>
    h4{color:#FFB85A}
</style>














<style>
       img { height: 150px;}
  img{ width: 400px;}
</style>