<footer class="footer">
  <div class="footer-container">
    
   
    <div class="footer-left">
 <img src="/img/kleinfooter.webp">
      <div class="address">
        <p>Wagnersvej 19</p>
        <p>2450 København SV</p>
      </div>
    </div>

  

 
    <div class="footer-right">
      <a href="https://www.instagram.com/klein_kbh/">
        <img src="/img/instablack 1.webp">
        </a>
            <a href="https://www.facebook.com/kleinkbh/?locale=da_DK">
      <img src="/img/facebook 2.webp">
      </a>
    </div>

  </div>
</footer>
    
<style>
        h3{color: white;}
        p{color: white;}
        h3{font-family:'Jaro', sans-serif;}
        p{font-family:'Jaro', sans-serif;}
        .footer{padding: 40px 60px;}
       .footer-container {display: flex;}
 .footer-container{ justify-content: space-between;}
 .footer-container{align-items: center;}
 .footer-left{display: flex;}
.footer-left{flex-direction: column;}
.footer-left{gap: 20px;}
   .address p{margin: 0;}
   .footer-right img{height: 80px;} 
    </style>



