<section class="galleri">
<h1>KLEINS GALLERI</h1>

<h3>Få et indblik i de forrige koncerter på KLEIN</h3>


</section>

<style>
    .galleri{background-color: #FFE3C0;}
    h1{color: #2F1409;}
    h3{color:#C15327;}
    .galleri{font-family: 'Protogrotesk', sans-serif;}
    .galleri{ padding: 40px 0;}
    .galleri{display: grid;}
</style>