<section class="galleri">
<h1>KLEINS GALLERI</h1>

<h3>Få et indblik i de forrige koncerter på KLEIN</h3>


</section>

<style>
    .galleri{background-color: #FFE3C0;}

    h1{color: #2F1409;}
    h3{color:#C15327;}
    .galleri{font-family: 'Jaro', sans-serif;}
    .galleri{ margin-top:100px;}
    .galleri{line-height: 1,6;}
    .galleri{display: grid;}
    .galleri{align-items: center;
  justify-content: center;}
</style>