<section class="galleri">
<h1>KLEINS GALLERI</h1>

<h3>Få et indblik i de forrige koncerter på KLEIN</h3>

  <div id="slider">
   <input type="radio" name="slider" id="slide1" checked>
   <input type="radio" name="slider" id="slide2">
   <input type="radio" name="slider" id="slide3">
   <input type="radio" name="slider" id="slide4">
   <div id="slides">
      <div id="overflow">
         <div class="inner">
            <div class="slide slide_1">
               <div class="slide-content">
                  <img src="/img/heleband.webp" alt="closeup">
                  
               </div>
            </div>
            <div class="slide slide_2">
               <div class="slide-content">
                 <img src="/img/closeuptromme.webp" alt="closeup">
                  
               </div>
            </div>
            <div class="slide slide_3">
               <div class="slide-content">
                  <img src="/img/closeuptrommersylofon.webp" alt="closeup">
                  
               </div>
            </div>
            <div class="slide slide_4">
               <div class="slide-content">
                    <img src="/img/closeupguitar.webp" alt="closeup">
                  
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
   </div>
   <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
   </div>
</div>

<style>
    .galleri{background-color: #FFE3C0;}

    h1{color: #2F1409;}
    h3{color:#C15327;}
    .galleri{font-family: 'Jaro', sans-serif;}
    .galleri{ margin-top:100px;}
    .galleri{line-height: 1,6;}
   h1{font-size:56px}
    .galleri{text-align: center;}
  
</style>