
<header>
  <div class="hero">
  <video class="hero-video" autoplay muted loop playsinline>
    <source src="/IMG_0419_7.mp4" type="video/mp4">
  </video>
      
                
   <div class="logos">
      <img src="/kleinlogo.png" alt="Klein logo">
 <img src="/kmklogo.webp" alt="Kmk logo">
  <img src="/cafekarenlogo.webp" alt="cafe karen">
   </div>
  </div>  
  
  
   <div class="introtekst">
                    <h1>Velkommen til KLEIN</h1>
                    <h2>Sydhavnens spillested</h2>
                </div>


            
            </div>
        </header>
		<style>
			h1{color: #FFE3C0;}
            h2{color:#f4b400;}
			h1 {font-family: 'Jaro', sans-serif;}
            h2 {font-family: 'Jaro', sans-serif;}
			a{color: #FFFFFF;}
            a{font-size: 20px;}
			a{font-family: 'Jaro', sans-serif;}
			a{text-decoration: none;}
            a:hover{color:#FFE3C0;}
            a:hover{font-size: 25px;}
            
		</style>