
<header>
  <div class="hero">
  <video class="hero-video" autoplay muted loop playsinline>
    <source src="/IMG_0419_7.mp4" type="video/mp4">
  </video>
      
                
   <div class="logos">
    <div class="dropdown">
       
  <img src="/kleinlogo.png" alt="Klein logo">
 <div class="dropdown-content">
     <a href="../components/Program.astro">Program</a>
     <a href="../components/Program.astro">KLEIN</a>
     </div>
  </div>
<div class="dropdown">
    <a href="https://kmkulturhus.dk/">
      <img src="/kmklogo.webp" alt="Kmk logo">
    </a>
    <div class="dropdown-content">
        <a href="https://kmkulturhus.dk/">Karensminde kulturhus</a>
      <a href="https://kmkulturhus.dk/">Bliv frivillig</a>
    </div>
  </div>
  
  <div class="dropdown">
  <a href="https://kmkulturhus.dk/cafe/">
  <img src="/cafekarenlogo.webp" alt="cafe karen">
  <div class="dropdown-content">
     <a href="https://kmkulturhus.dk/">Cafe karen</a>
      <a href="https://kmkulturhus.dk/">Pratisk</a>
      <a href="https://kleinkbh.dk/adgang/">Adgang</a>
      <a href="https://kleinkbh.dk/kontaktklein/">Kontakt</a>
    </div>
  </div>

</a>
   </div>
  </div>  
 
 
  
   <div class="introtekst">
                    <h1>Velkommen til KLEIN</h1>
                     </div>
              

            
            </div>
        </header>
		<style>
			h1{color: #FFE3C0;}
            h2{color:#f4b400;}
			h1 {font-family: 'Jaro', sans-serif;}
            h2 {font-family: 'Jaro', sans-serif;}
			a{color: #FFFFFF;}
            a{font-size: 20px;}
			a{font-family: 'Jaro', sans-serif;}
			a{text-decoration: none;}
            a:hover{color:#FFE3C0;}
         .dropdown {position: relative;}
 .dropdown {display: inline-block;}

            
		</style>