
<header>
          
             <div class="hero">
                
                <div class="introtekst">
                    <h1>Velkommen til KLEIN</h1>
                    <h2>Sydhavnens spillested</h2>
                </div>


                <nav>
                  <div class="logo">
                        <img src="../kleinlogo.png">
                    </div>

                    <ul class="menu">
                        <li><a href="Mainlayout.astro">Program</a></li>
                        <li><a href="https://kleinkbh.dk/bliv-frivillig/">Bliv frivillig</a></li>
                        <li><a href="https://kleinkbh.dk/adgang/">Praktisk</a></li>
                    </ul>
                </nav>
            </div>
        </header>
		<style>
			h1{color: #FFE3C0;}
            h2{color:#f4b400;}
			h1 {font-family: 'Protogrotesk', sans-serif;}
            h2 {font-family: 'Protogrotesk', sans-serif;}
			a{color: #FFFFFF;}
            a{font-size: 20px;}
			a{font-family: 'Protogrotesk', sans-serif;}
			a{text-decoration: none;}
            a:hover{color:#FFE3C0;}
            a:hover{font-size: 25px;}
            
		</style>