---
const { title, img, shape } = Astro.props;
import Cards from "../components/Cards.astro"
---
  <body>
        <main>
             
			<h2>Program</h2>

           <div class="months">
                <h4>Januar</h4>
                <h3>Februar</h3>
                <h4>Marts</h4>
            </div>

            

            <Cards title="VICTORIA SØNDERGAARD 
                SECRETS" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
      
           </Cards>
         
           
           <Cards title="KANAAN (no) + EDENA GARDENS" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
        </Cards>
             <Cards title="JAZZ CLUB LOCO: ECHO, BRAVO" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
</Cards>
        </main>
		<slot />
	</body>
    

<style>
    summary{background-color:#FFE3C0 ;}
    summary{color:#C15327}
    summary{font-family: 'Protogrotesk', sans-serif;}
 
    p{background-color: #FFE3C0;}
    p{color: #C15327;}
    p{font-family: 'Protogrotesk', sans-serif;}
    h5{font-family: 'Protogrotesk', sans-serif;}
    h5{color: #FFB553;}



</style>