  <div class="program">
  <h1>PROGRAM</h1>   
<h4>Februar</h4>
<h5>14 Februar</h5>
<card>
<details>
<summary>VICTORIA SØNDERGAARD
SECRETS</summary>
<p>
  Jazz Club Loco inviterer indenfor til en sprængfarlig blanding af punk og jazz, når Echo, Bravo indtager KLEIN til Vinterjazz 2026.

Post-jazz? Free-punk? Albumaktuelle Echo, Bravo lader de rå vokalers surrealistiske poesi smelte sammen med bas, trommer, guitar og trompet i en catchy lyd af støj, ord og søde melodier.

Bandets nye album ‘Glasfisk’ er et råt, skarptskåret og umiddelbart værk, der bygger videre på sporene fra debutalbummet ‘Der Tod und das Mädchen’. Med minimalismen som afsæt flettes instrumenternes små, særskilte roller sammen til ét stort lydbillede, hvor unisone melodier bygges og opløses i fri improvisation.


</p>


</details>

  
<p>KANAAN(no)+ EDENA GARDENS</p>
<p>JAZZ CLUB LOCO: ECHO, BRAVO </p>
</card>
</div> 
<style>
    summary{background-color:#FFE3C0 ;}
    summary{color:#C15327}
    summary{font-family: 'Protogrotesk', sans-serif;}
    p{background-color: #FFE3C0;}
    p{color: #C15327;}
    p{font-family: 'Protogrotesk', sans-serif;}
    h5{font-family: 'Protogrotesk', sans-serif;}
    h5{color: #FFB553;}
</style>