---
const { title, img, shape } = Astro.props;
import Cards from "../components/Cards.astro"
---
  <body>
        <main>
             
			<h2>Program</h2>

           <div class="months">
                <h4>Januar</h4>
                <h3>Februar</h3>
                <h4>Marts</h4>
            </div>

  
 <div class="datoer">14 Februar</div>
            <Cards title="VICTORIA SØNDERGAARD 
                SECRETS" 
                img="/img/image48.webp"
                />
      
           </Cards>
         
           <h4>22 februar</h4>
           <Cards title="KANAAN (no) + EDENA GARDENS" 
            img="/img/image49.webp"
                />
        </Cards>
             <h4>28 februar</h4>
        <Cards title="JAZZ CLUB LOCO: ECHO, BRAVO" 
        img="/img/image50.webp"
                />
</Cards>
        </main>
		<slot />
	 
    </body>
    

<style>
    summary{background-color:#FFE3C0 ;}
    summary{color:#C15327}
    summary{font-family: 'Jaro', sans-serif;}
h2{text-align: center;}
    p{background-color: #FFE3C0;}
    p{color: #C15327;}
    p{font-family: 'Jaro', sans-serif;}
    h5{font-family: 'Jaro', sans-serif;}
    h5{color: #FFB553;}



</style>