<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body>
        <main>
            
			

           <div class="musikken">
           

<div class="musikken">
                <span class="bliveendel">Bliv en del af musikken!</span>
                <p class="forklaring">
KLEIN er Sydhavnens spillested og en del af Karens Minde Kulturhus. Det er det eneste venue i bydelen med løbende koncerter året rundt. KLEIN har en kærlighed til det vildtvoksende, DIY-pionerånden og det eksperimenterende.
          
</p>
   
        </main>
		<slot />
	</body>
</html>
<style>
	p{font-family: 'Jaro', sans-serif;}
	span{font-family: 'Jaro', sans-serif;}
h1{font-family: 'Jaro', sans-serif;}
.bliveendel {color: #f4b400;}
  .bliveendel{font-size: 26px;}
</style>